.base_header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 20;

}

.base_header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.base_header__title{
    font-size: 18px;
    font-weight: 700;

}
