.reg_item_btn, .login_btn {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 15px;
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    border-style: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-left: 8px;
}

.base_header {
    padding-left: 15px;
    padding-right: 15px;
}

.item_option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px; 
}


.item_option__btn {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-shrink: 0;
    background-color: var(--gray);
    color: white;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1px;
    gap: 8px;

}

.item_option__btn:hover, .reg_item_btn:hover, .login_btn:hover{
    cursor: pointer;
}

.item_option__select  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
    padding: 4px 12px;
    height: 32px;
    width: 140px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: url('../images/arrow-down.png') no-repeat 97% 50%/15px auto;
    
}


.item_option__select:valid{
    border-color: var(--black);
    outline: none;
}


#select_transaction{
    width: 100px;
}

.list_header__btn {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

@media (max-width: 420px) {
    .small_width_screen{
        font-size: 10px;
        padding: 10px 12px;
        margin-left: 5px;
        width: 43%;

    }
  } 
