@import "style.css";

body{ 
    text-align: center;

}

main {
    margin-top: 60px;
    padding: 10px 20px;
}


#profile_details{
    width: 100%;
    display: flex;
    text-align: left;
    padding: 0px 5px;
    position: relative;
    /* justify-content: center; */

}

#profile_details img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile_details__info {

    margin-right: 1px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.profile_details__info div {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 7px;
    
}

#profile_details .profile_name{
    font-size: 23px;
    font-weight: 700;
    display: flex;
    /* align-items: center; */
    gap: 20px;

}

#profile_details .profile_email {
    color: #808080;
    font-size: 14px;
    /* margin-bottom: auto; */
    margin-bottom: 15px;
}

#profile_details .profile_rank {
    color: #808080; 
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.profile_rank_eng {
    color: #329142;
    font-weight: 700
}



.profile_btn {
    color: #ffff;
    background-color: #B3B3B3;
    width: 90px;
    height: 28px;
    background: #B3B3B3;
    box-shadow: 0px 5px 15px rgba(48, 48, 48, 0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 12px;

}



#menu_buttons {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu_buttons button {
    word-wrap: break-word;
    display: flex;
    text-align: left;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 80px;
    padding: 28px 28px;
    margin: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 7px 40px rgba(138, 149, 158, 0.20);
    justify-content: space-between;
}

#logout_buttons{
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    /* margin-top: 80px;
    margin-right: 20px; */
    position: absolute;
    bottom: 95px;
    right: 30px;
}

a.mypage_link{
    color: #909191;
    margin-right: 15px;
    text-decoration: underline;
}