@import "font.css";

html {
    display: flex;
    justify-content: center;
}

body {
    width: 375px;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*align-items: center; /* 가운데 정렬을 위해 추가 */
    justify-content: space-between; /* 요소들 간의 공간을 균등하게 분배 */
    box-sizing: border-box;
}

#return_btn{
    width:45px;
    height: 45px;
    color:black;
    background-color: white;
    font-size:27px;
    text-align: center;
    padding:0px;
    float:left;
    margin-top: -13px;
    border:none;
}

#header{
    width: 375px;
    text-align: center;
    border:solid;
    padding-top: 15px;
    margin-top:-0px;
    font-weight: bold;
    border:none;
}

#item{
    padding-left: 15px;
}

p.item{
    padding-left:13px;
    border:none;
    float:left;
    margin-top:0px;
}

hr{
    background:rgb(237, 237, 237);
    height: 0.5px;
    display: true;
    width: 340px;
    float:left;
    margin-left: 5px;
    margin-top: -10px;
}

.btn{
    width:15px;
    height: 50px;
    font-size:19px;
    padding-left: 0px;
    border:none;
    background-color: white;
}

#left{
    position: relative;
    top:-150px;
    left:3px;
}

#right{
    position: relative;
    top:-200px;
    left:366px;
}

#simple_review{
    float: left;
    padding-left: 22px;
    margin-top: -57px;
}

.review_btn{
    border:none;
    color:white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    padding:10px 10px 11px 11px;
}

#review_ment{
    width: 312px;
    height:200px;
    box-shadow: 0px 5px 15px rgba(134, 134, 134, 0.25);
    float: center;
    margin-left: 21px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}