@import "reset.css";
@import "font.css";
@import "variables.css";
@import "components/base_header_style.css";


body {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;

}

#item{
    height: 120px;
    margin: 0px 15px;
    padding-bottom: 8x;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--blur-gray);
}

.review_detail__img {
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 8px;

}

.review_detail__img img {
    width: 100%;
    object-fit: contain;
}


p.item{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:15px;
}

.item__name {
    margin-bottom: 8px;
    font-weight: 600; 
    color: var(--black-3);
    font-size: 16px;
}

.item__price {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

.item__review-star{
    color: var(--star-yellow);
    font-size: 20px;
}

.btn{
    width:15px;
    height: 50px;
    font-size:19px;
    padding-left: 0px;
    border:none;
    background-color: white;
}


main {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.review_img__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.review_img__box {
    box-sizing: border-box;
    overflow: hidden;
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 600px;
    margin: 0px 15px;

}

.review_img__box img {
    width: 100%;
    object-fit: contain;
}


#left, #right{
    text-align: center;
    font-size: 15px;
}



#simple_review{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}

.review_btn{
    border:none;
    color:white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    padding:10px 10px 11px 11px;
}

#review_ment{
    margin: 20px 0px 15px 0px;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 5px 15px rgba(134, 134, 134, 0.25);
}

.review_ment__head {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

}

.review_ment__title {
   font-weight: 700;
   font-size: 20px;
}

.review_ment__date{
    font-size: 12px;
    color: var(--gray);
    margin-left: 25px;
}

.review_ment__writer {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.review_ment__txt {

    font-size: 14px;
    font-weight: 400;
    line-height: normal;

}



.review_img__panel{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.review_img__container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_img__panel img{
    width: 70%;
    object-fit: cover;
}

.close_btn {
    width:40px;
    height: 40px;
    color:black;
    background-color: white;
    font-size:20px;
    position: absolute;
    right: 20px;
    top: 20px;
    border:none;
    border-radius : 8px;
    text-align: center;
}