:root {
    --black : #242424;
    --light-gray : #F5F5F5;
    --gray: #808080;
    --black-2:#303030;
    --black-3 : #606060;
    --star-red: #BF190E;
    --ewha-green:#013309;
    --like-gray: #e0e0e0;
    --blur-gray: #F0F0F0;
    --button-box-shadow:0px 5px 5px 0px rgba(48, 48, 48, 0.20);
    --nav-box-shadow: 0px -2px 50px 0px rgba(0, 0, 0, 0.05);
    --disable-gray :#DFE3E8;
    --review-item-box-shadow: 0px 3px 5px 0px rgba(138, 149, 158, 0.30);
}