<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>DM-{{ counterpartId }}</title>
  </head>

  <body data-chat-room-id="{{ chat_room.chatRoomId }}">
    <header class="base_header">
      <a href="/chatting_list" class="base_header__icon base_header__back">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div class="base_header__dm">
        <img
          class="dm_profile__img"
          src="{{ url_for('static', filename=counterpartImg) }}"
          alt="프로필 사진"
        />
        <h2 class="base_header__title">{{ counterpartId }}</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <div class="review_item">
      <div class="review_img__box">
        <img
          class="review_item__img"
          src="{{ url_for('static', filename=chat_room.imgPath) }}"
          alt="상품 이미지"
        />
      </div>
      <div class="review_item__content">
        <p class="review_item__title">{{ chat_room.itemName }}</p>
        <p class="review_item__price commas_price">
          {{ chat_room.itemPrice }}원
        </p>
      </div>
    </div>

    <main class="dm_section" id="chat-window"></main>

    <footer class="dm_footer">
      <form class="dm_reply" action="">
        <div class="dm_reply__column" id="dm__plus_btn">
          <i
            id="dm_reply__plus"
            class="fa-solid fa-circle-plus fa-lg"
            style="color: #7a7a7a"
          ></i>
        </div>
        <div class="dm_reply__column">
          <input
            id="dm_reply__input"
            type="text"
            placeholder="메시지를 입력하세요."
          />
        </div>
        <div class="dm_reply__column">
          <button id="dm_reply__send">
            <img
              src="{{ url_for('static', filename='images/send-arrow.png') }}"
              alt="버튼"
            />
          </button>
        </div>
        <script>
          document
            .getElementById("dm_reply__send")
            .addEventListener("click", function (event) {
              event.preventDefault();
              var messageText =
                document.getElementById("dm_reply__input").value;
              var senderId = '{{ session["id"] }}';
              var chatRoomId = "{{ chat_room.chatRoomId }}";
              //시간 생성
              var timestamp = new Date().toLocaleString("en-GB", {
                timeZone: "Asia/Seoul",
              });
              console.log(timestamp);

              if (messageText.trim() === "") {
                alert("메시지를 입력해주세요.");
                return;
              }

              var data = {
                senderId: senderId,
                message: messageText,
                chatRoomId: chatRoomId,
                timestamp: timestamp,
              };

              fetch("/send_msg", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.status === "success") {
                    // 메시지가 성공적으로 보내졌으므로, 텍스트 입력 필드를 비움
                    document.getElementById("dm_reply__input").value = "";
                  }
                })
                .catch((error) => {
                  console.error("메시지 전송 오류:", error);
                });
            });
        </script>
      </form>
      <div class="dm_function" id="dm_function__menu">
                <div class="dm_function__icon" id="placeButton">
                    <div class="dm_icon__box" id="dm_function_place">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <span>거래 장소 보기</span>
                </div>
                <script>
                    document.getElementById('placeButton').addEventListener('click', function () {
                        if ('{{ chat_room.transaction }}' == '대면') {
                            var locationId = '{{ chat_room.location }}';
                            window.location.href = '/map?locationId=' + encodeURIComponent(locationId);
                        } else {
                            alert('비대면 (택배, 우편) 거래입니다!');
                        }
                    });
                </script>
        {% if session['id'] == chat_room.sellerId %}
        <div class="dm_function__icon">
          <div class="dm_icon__box" id="dm_function_complete">
            <i class="fa-solid fa-circle-check"></i>
          </div>
          <span>거래완료</span>
        </div>
        {% endif %}
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var dmFunctionComplete = document.getElementById("dm_function_complete");
                
                if (dmFunctionComplete) {
                    dmFunctionComplete.addEventListener("click", function () {
                        if (!{{chat_room.complete|default('false')}}&&"{{rc}}"!=="1") {
                            var chatRoomId = "{{ chat_room.chatRoomId }}";

                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/complete/" + chatRoomId, true);
                            xhr.setRequestHeader("Content-Type", "application/json");

                            xhr.onload = function () {
                                if (xhr.status === 200) {
                                    alert("거래가 완료되었습니다!");
                                } else {
                                  alert("오류가 발생했습니다 (상태 코드: " + xhr.status + "): " + xhr.responseText);
                                }
                            };

                            xhr.send(JSON.stringify({ chatRoomId: chatRoomId }));
                        }
                    });
                }
            });
        </script>

        <div class="dm_function__icon"></div>
        <div class="dm_function__icon"></div>
        <div class="dm_function__icon"></div>
      </div>
    </footer>
    <!-- Firebase 스크립트와 초기화 코드 -->
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>

    <script>
                    var firebaseConfig = {
                        apiKey: 'AIzaSyDWz1_ZttmWjc1IzQRI8wMAe-IqeYDzark',
                        authDomain: 'ong-market.firebaseapp.com',
                        databaseURL: 'https://ong-market-default-rtdb.firebaseio.com',
                        projectId: 'ong-market',
                        storageBucket: 'ong-market.appspot.com',
                        messagingSenderId: '464409088344',
                        appId: '1:464409088344:web:bd00bf2f298988db2c552d',
                    };
                    firebase.initializeApp(firebaseConfig);

                    var chatRoomId = document.body.getAttribute('data-chat-room-id');
                    var chatRoomRef = firebase.database().ref('chats/' + chatRoomId);
                    var messageRef = chatRoomRef.child('messages').orderByChild('timestamp');
                    var completeRef = chatRoomRef.child('complete');

                    var sessionId = '{{ session["id"] }}';
                    var sellerId = '{{ chat_room.sellerId }}';

                    // 이전 메시지의 날짜를 저장하는 변수
                    var previousMessageDate = null;

                    // 메시지에 대한 이벤트 리스너
                    messageRef.on('child_added', function (snaphot) {
                        var message = snaphot.val();
                        var messageDate = timestampToDate(message.timestamp);
                        // 이전 메시지와 현재 메시지의 날짜가 다른 경우, 또는 처음 메시지를 보내는 경우
                        if (!previousMessageDate || !isSameDay(previousMessageDate, messageDate)) {
                            var formattedMessageDate = formatMessageDate(messageDate);
                            addDateSeparatorToChatWindow(formattedMessageDate);
                        }
                        addMessageToChatWindow(message);
                        // 현재 메시지의 날짜를 이전 메시지의 날짜로 업데이트
                        previousMessageDate = messageDate;
                    });

                    // 거래 완료 상태 감지
                    completeRef.on('value', function (snaphot) {
                        if (snaphot.val() === true) {
                            if (sessionId === sellerId) {
                                // 판매자 완료 메시지 - 리뷰 보기
                                addCompleteMessageForSeller();
                                document.getElementById("dm_function_complete").style.backgroundColor="gray";
                            } else {
                                // 구매자 완료 메시지 - 리뷰 쓰기
                                addCompleteMessageForBuyer();
                            }
                        }
                    });
                    //다른 사람과 거래 완료된 상품인지 감지. 현재 유저가 판매자인 경우 + 거래 완료된 상품인 경우 거래 완료 버튼 비할성화
                    if("{{rc}}"==="1"&&sessionId === sellerId){

                      document.getElementById("dm_function_complete").style.backgroundColor="gray";
                    }

                    function addMessageToChatWindow(message) {
                        var chatWindow = document.getElementById('chat-window');
                        var messageElement = document.createElement('div');
                        var senderIsSessionUser = message.senderId === '{{ session["id"] }}';

                        messageElement.className = senderIsSessionUser
                            ? 'dm_section__line dm_section__me'
                            : 'dm_section__line dm_section__you';

                        if (!senderIsSessionUser) {
                            // 상대방의 프로필 이미지를 추가합니다.
                            var imgElement = document.createElement('img');
                            imgElement.className = 'dm_profile__img';
                            imgElement.src = '{{ url_for("static", filename=counterpartImg) }}'; // 프로필 이미지 URL
                            imgElement.alt = '프로필 사진';
                            messageElement.appendChild(imgElement);
                        }

                        // 메시지 텍스트를 추가합니다.
                        var messageTextElement = document.createElement('span');
                        messageTextElement.className = 'dm_msg';
                        messageTextElement.innerHTML = message.text;
                        messageElement.appendChild(messageTextElement);



                        // 메시지 타임스탬프를 추가합니다.
                        var timestampElement = document.createElement('span');
                        timestampElement.className = 'dm_time';
                        //타임스탬프 포맷 변경
                        const [datePart,timePart] = message.timestamp.split(",");
                        const [day, month, year] = datePart.trim().split("/");
                        const [hour, minute, second] = timePart.trim().split(":");
                        if(hour>=12){
                          timeText = `오후 ${hour}:${minute}`;
                        }else{
                          timeText = `오전 ${hour}:${minute}`;
                        }
                        timestampElement.innerHTML = timeText;

                        messageElement.appendChild(timestampElement);

                        chatWindow.appendChild(messageElement);
                    }


            function addCompleteMessageForSeller() {
                var chatWindow = document.getElementById('chat-window');

                // 거래 완료 메시지를 생성합니다.
                var infoDiv = document.createElement('div');
                infoDiv.className = 'dm_info';

                var contentDiv = document.createElement('div');
                contentDiv.className = 'dm_info__content';

                var titleP = document.createElement('p');
                titleP.className = 'dm_info__content-title';
                titleP.textContent = '안내';

                var textP = document.createElement('p');
                textP.className = 'dm_info__contenttxt';
                textP.textContent = '거래가 완료되었어요!';

                var reviewLink = document.createElement('a');
                reviewLink.className = 'dm_info__btn';
                
//                 reviewLink.href = "{{ url_for('review_detail', reviewId=chat_room.itemId) }}";
//                 reviewLink.textContent = '리뷰 보기';

                var rc = {{ rc }};
                if (rc == "1") {
                    reviewLink.href = "{{ url_for('review_detail', reviewId=chat_room.itemId) }}";
                    reviewLink.textContent = '리뷰 보기';
                } else {
                    reviewLink.href = "#";  // 빈 링크 또는 다른 처리 가능
                    reviewLink.addEventListener('click', function() {
                        alert("아직 리뷰가 작성되지 않았습니다.");
                    });
                    reviewLink.textContent = '리뷰 보기';
                }
                
                contentDiv.appendChild(titleP);
                contentDiv.appendChild(textP);
                infoDiv.appendChild(contentDiv);
                infoDiv.appendChild(reviewLink);

                chatWindow.appendChild(infoDiv);
            }

            function addCompleteMessageForBuyer() {
               var chatWindow = document.getElementById('chat-window');

                // 거래 완료 메시지를 생성합니다.
                var infoDiv = document.createElement('div');
                infoDiv.className = 'dm_info';

                var contentDiv = document.createElement('div');
                contentDiv.className = 'dm_info__content';

                var titleP = document.createElement('p');
                titleP.className = 'dm_info__content-title';
                titleP.textContent = '안내';

                var textP = document.createElement('p');
                textP.className = 'dm_info__contenttxt';
                textP.textContent = '거래가 완료되었어요! 리뷰를 남겨주세요.';

                var reviewLink = document.createElement('a');
                reviewLink.className = 'dm_info__btn';

                var rc = "{{ rc }}";
                if (rc === "1") {
                    reviewLink.href = "{{ url_for('review_detail', reviewId=chat_room.itemId) }}";
                    reviewLink.textContent = '작성한 리뷰 보기';
                } else if(rc=== "0") {
                    reviewLink.href = '/reg_review/' + "{{ chat_room.itemId }}";
                    reviewLink.textContent = '리뷰 작성하기';
                }
                
                contentDiv.appendChild(titleP);
                contentDiv.appendChild(textP);
                infoDiv.appendChild(contentDiv);
                infoDiv.appendChild(reviewLink);

                chatWindow.appendChild(infoDiv);
            }

              // 날짜가 같은지 여부를 확인하는 함수
              function isSameDay(date1, date2) {
                return date1.getFullYear() === date2.getFullYear() &&
                      date1.getMonth() === date2.getMonth() &&
                      date1.getDate() === date2.getDate();
              }

            // 메시지 날짜를 특정 형식으로 포맷하는 함수 (2023년 01월 01일)
            function formatMessageDate(date) {
              console.log(date); // 추가된 코드
              var year = date.getFullYear();
              var month = (date.getMonth() + 1); // 월을 그대로 가져옴
              var day = date.getDate();
              // 두 자리 숫자로 만들기 위한 조건문 추가
              month = month < 10 ? '0' + month : month;
              day = day < 10 ? '0' + day : day;
              return `${year}년 ${month}월 ${day}일`;

            }
            // 날짜 구분선을 채팅 창에 추가하는 함수
            function addDateSeparatorToChatWindow(formattedDate) {
              var chatWindow = document.getElementById('chat-window');
              var dateSeparatorElement = document.createElement('div');
              dateSeparatorElement.className = 'dm_section__date';
              dateSeparatorElement.textContent = formattedDate;
              chatWindow.appendChild(dateSeparatorElement);
      }

      //timestamp 데이터를 Date 객체로 변환해주는 함수
      function timestampToDate(timestamp){
        var parts = timestamp.split(/[\s,\/:]+/); // 공백, 콤마, 슬래시, 콜론을 기준으로 분리
        var year = parseInt(parts[2], 10);
        var month = parseInt(parts[1], 10) - 1; // JavaScript에서 월은 0부터 시작하므로 1을 빼줍니다.
        var day = parseInt(parts[0], 10);
        var hour = parseInt(parts[3], 10);
        var minute = parseInt(parts[4], 10);
        var second = parseInt(parts[5], 10);

        var date = new Date(year, month, day, hour, minute, second);
        console.log(date);
        return date;
      }
    </script>
  </body>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='screens/dm.js') }}"></script>
  <script src="{{ url_for('static', filename='components/commas_to_price.js') }}"></script>
</html>