<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기(성공) 화면</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='find_id_success.css') }}">

</head>
<body>
    <header class="header">
        
    </header>
    <img src="../static/images/logo.png" alt="logo image" width="375px;">
    <h1>ID 찾기</h1>
    <p><br><br></p>

    <div id="box">
    <div id="find_id">
    <form>
        <br>
        <!--임시로 만든 화면. 나중에는 사용자가 입력하는 메일 주소 가져와서 화면에 띄우기 !-->
        <h3>abc123@ewhain.net의 아이디<br><br></h3>
        <h3>abc**</h3>
        
        <br><br>

    </form>

    <button id="login_button" type="button" onclick="location.href='/login'"><b>로그인 하러 가기</b></button>
    </div>
    </div>

    <br><br><br>
        
</body>
</html>
