<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기(성공) 화면</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='find_password_success.css') }}">

</head>
<body>
    <header class="header">
        
    </header>
    <img src="../static/images/logo.png" alt="logo image" width="375px;">
    <h1>Password 찾기</h1>
    <p><br><br></p>

    <div id="box">
    <div id="find_password">
    <form>
        <br><br><br>
        <h4>이메일로 Password를 확인하세요</h4>
        <br>
    </form>

    <button id="login_button" type="button" onclick="location.href='login.html'"><b>로그인 하러 가기</b></button>
    </div>
    </div>
    <br><br><br>
</body>
</html>
