<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 화면</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='find_password_success.css') }}">

</head>
<body>
    <header class="header">
        
    </header>
    <img src="../static/images/logo.png" alt="logo image" width="375px;">
    <h1>Password 재설정</h1>
    <p><br><br></p>

    <div id="box">
    <div id="find_password">
    <form action="" method="post">
        <h4 style="text-align: center; color:black;"><b>비밀번호를 다시 설정해주세요</b></h4>
    
        <h4>Password</h4>
            <input id="password" type="password" name="password" style="border:none" required>
            <hr>

            <h4>Confirm Password</h4>
            <button class="check_button" id="check_pw_button" type="button" onclick="check_pw()">check</button>
            <input id="confirm_password" type="password" name="Confirm Password" style="border:none" required>
            <script>
                /*비밀번호 일치 확인 임시 함수*/
                function check_pw(){
                    var pw=document.getElementById("password");
                    var confirm_pw=document.getElementById("confirm_password");
                    var btn=document.getElementById('check_pw_button');
                    
                    if(pw.value != confirm_pw.value){
                        alert('비밀번호가 일치하지 않습니다.다시 입력해주세요!');
                        confirm_pw.value=null;
                        btn.style.backgroundColor="rgb(112, 111, 111)";
                    }
                    else if(confirm_pw.value==""){
                        alert("비밀번호를 입력해주세요!")
                    }
                    else{
                        alert("비밀번호 확인 완료")
                        btn.style.backgroundColor="green";
                        rightPassword = true;
                    }
                }
            </script>
            <hr>
            <!--비밀번호 변경완료 버튼-->
            <button id="password_change_button" type="button" onclick="change_pw()"><b>비밀번호 변경</b></button>
            <script>
                function change_pw(){
                    var btn=document.getElementById('check_pw_button');

                    if(btn.style.backgroundColor=="green"){
                        alert("비밀번호 변경 완료!");
                    }else{
                        alert("비밀번호를 다시 확인해주세요!");
                    }
                }
            </script>
    </form>

    <button id="login_button" type="button" onclick="location.href='/login'"><b>로그인 하러 가기</b></button>
    </div>
    </div>
    <br><br><br>
    
</body>
</html>
