<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='screens/index_style.css') }}"
    />
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
  </head>
  <body onclick="window.location.href='/list'">
    <img
      src="{{ url_for('static', filename='../static/images/cover.png') }}"
      alt="cover"
    />
  </body>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
</html>
