<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 화면</title>
    <link rel="stylesheet" href="../static/item_detail.css">

    <!--아이콘 집어넣기 위한 코드-->
    <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>

</head>
<body>
   
    <img src="../images/item.png" alt="item image" width="375px;">
    <button id="return_btn" type="button" onclick="return_btn()">&lt; </button>
    <!--뒤로 가기 버튼 함수-->
    <script>
        function return_btn(){
            window.history.go(-1);
        }
    </script>
   
    <h2 class="title">미니멀 스탠드</h2>
   
    <div id="detail">
    <p class="use">
        <i class="fa-solid fa-square-check fa-lg"></i>&nbsp;&nbsp;25,000원<br><br>
        <i class="fa-solid fa-square-check fa-lg"></i>&nbsp;&nbsp;사용감 있음<br><br>
        <i class="fa-sharp fa-solid fa-location-dot fa-lg"></i>&nbsp;&nbsp;법학관
    </p>

    
    <p style="font-size: 14px;font-weight: bold;">ID : Ewhain34&nbsp;
        <span style="color:gray; font-size: 12px;" >학점 <span style="color:rgb(15, 200, 15)">A+</span>
    </p>
    <p style="color:gray; font-size: 10px;">2달전</p>
    <p style="font-size: 14px; color:rgb(75, 75, 75);line-height: 150%;">
        사용한지 반년 정도 된 스탠드 협탁입니다.<br>
        조만간 인테리어를 바꾸게 되어 판매합니다.
    </p>
    </div>
    <br>

    <div id="button">
        <button id="bookmark_btn" type="button" onclick="bookmark()"><i class="fa-regular fa-bookmark fa-xl"></i>
        <button id="dm_btn" type="button" onclick="">채팅하기</button>
        <!--북마크 버튼을 누르면 색깔이 변하도록하는 함수-->
        <script>
            function bookmark(){
                var btn=document.getElementById("bookmark_btn");
                if(btn.style.backgroundColor=="rgb(172, 239, 172)"){
                    btn.style.backgroundColor="rgb(235, 235, 235)";
                }
                else{
                    btn.style.backgroundColor="rgb(172, 239, 172)";
                }
            }
        </script>
    </div>
    <br><br><br>
    
</body>
</html>