<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>찜한 상품</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jjim_Page_style.css') }}"
    />
    <script>
      const likeItems = {{ like_items|tojson|safe }};
        const likeItemIds = likeItems.map((item) => item.itemId);
    </script>
  </head>
  <body>
    <header class="base_header">
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
      <div>
        <h2 class="base_header__title">찜한 상품</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <main class="list_page_box">
      {% for item in like_items %}
      <a
        href="{{ url_for('item_detail', itemId=item.itemId) }}"
        class="item_box_link" 
      ></a>
        <div class="item_box1" id="item-{{ item.itemId }}">
          <div class="item_selection">
            <div class="item_box1__img">
              <img
                src="{{ url_for('static', filename=item.img_path) }}"
                alt="{{ key }}"
              />
            </div>
            <div class="item_box1__info">
              <p class="item_box1__title">{{ item.itemName }}</p>
              <div class="item_box1__upload">
                <p class="item_box1__seller">{{ item.userId }}</p>
                <p class="item_box1__date item_reg_date">
                  {{ item.createdAt }}
                </p>
              </div>
              <p class="item_box1__price commas_price">{{ item.price }}원</p>
            </div>
          </div>
          <div class="item_box1__icon">
            <div class="item_box1_like">
              <div class="like_icon_box bookmark_btn">
                <i class="fa-regular fa-bookmark fa-lg"></i>
              </div>
              <p class="item_like_num">{{ item.like_count }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </main>
      {% include 'nav_bar.html' %}  
</body>
  <script src="https://kit.fontawesome.com/afee348a73.js" crossorigin="anonymous"></script>
  <script src="../static/components/like_press.js"></script>
  <script src="../static/components/commas_to_price.js"></script>
  <script src="../static/components/calcDate.js"></script>
</html>