<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>찜한 상품</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jjim_Page_style.css') }}"
    />
    <script>
      const likeItems = {{ like_items|tojson|safe }};
        const likeItemIds = likeItems.map((item) => item.itemId);
    </script>
  </head>
  <body>
    <header class="base_header">
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
      <div>
        <h2 class="base_header__title">찜한 상품</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <main class="list_page_box">
      {% for item in like_items %}
      <a
        href="{{ url_for('item_detail', itemId=item.itemId) }}"
        class="item_box_link" style="background-color: rebeccapurple; width:100%; heghit:100%;"
      ></a>
        <div class="item_box1" id="item-{{ item.itemId }}">
          <div class="item_selection">
            <div class="item_box1__img">
              <img
                src="{{ url_for('static', filename=item.img_path) }}"
                alt="{{ key }}"
              />
            </div>
            <div class="item_box1__info">
              <p class="item_box1__title">{{ item.itemName }}</p>
              <div class="item_box1__upload">
                <p class="item_box1__seller">{{ item.userId }}</p>
                <p class="item_box1__date item_reg_date">
                  {{ item.createdAt }}
                </p>
              </div>
              <p class="item_box1__price commas_price">{{ item.price }}원</p>
            </div>
          </div>
          <div class="item_box1__icon">
            <div class="item_box1_like">
              <div class="like_icon_box bookmark_btn">
                <i class="fa-regular fa-bookmark fa-solid"></i>
              </div>
              <p class="item_like_num">{{ item.like_count }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </main>
      {% include 'nav_bar.html' %}  
</body>
  <script src="https://kit.fontawesome.com/afee348a73.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='components/like_press.js') }}"></script>
  <script src="{{ url_for('static', filename='components/commas_to_price.js') }}"></script>
  <script src="{{ url_for('static', filename='components/calcDate.js') }}"></script>
  <!-- Firebase 스크립트와 초기화 코드 -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
<script>

  var firebaseConfig = {
    apiKey: 'AIzaSyDWz1_ZttmWjc1IzQRI8wMAe-IqeYDzark',
    authDomain: 'ong-market.firebaseapp.com',
    databaseURL: 'https://ong-market-default-rtdb.firebaseio.com',
    projectId: 'ong-market',
    storageBucket: 'ong-market.appspot.com',
    messagingSenderId: '464409088344',
    appId: '1:464409088344:web:bd00bf2f298988db2c552d',
  };
  firebase.initializeApp(firebaseConfig);

  // 새 채팅방 생성 여부 감지
  var userKey = '{{ user_key }}';
  var userChatRoomsRef = firebase.database().ref("user/" + userKey + "/chatRooms");
  userChatRoomsRef.on('child_added', function (snapshot) {
    fetch('/notify_new_chat', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log('Session updated with new chat room flag');
      })
      .catch(error => console.error('Error:', error));
  });

  // 기존 채팅방 새로운 메시지 감지
  var chatRoomIds = {{ chat_room_ids| tojson }};
  function listenToChatRoomMessage(chatRoomId) {
    var messagesRef = firebase.database().ref("chats/" + chatRoomId + "/messages");
    messagesRef.on('child_added', function (snapshot) {
      fetch('/notify_new_chat', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        }
      })
        .then(response => response.json())
        .then(data => {
          console.log('Session updated with new chat room flag');
        })
        .catch(error => console.error('Error:', error));
    });
  }

  chatRoomIds.forEach(function (chatRoomId) {
    listenToChatRoomMessage(chatRoomId);
  });
</script>
<script>
  var hasNewChat = {{ session['newChat']|default(False)|tojson|safe }};
  const alarmDot = document.getElementsByClassName("alarm_dot")[0];
  if (hasNewChat) {
    alarmDot.style.visibility = "visible";
  } else {
    alarmDot.style.visibility = "hidden";
  }

</script>
</html>