<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='keyword_style.css') }}"
    />
  </head>
  <body>
    <header class="base_header">
      <a href="/mypage" class="base_header__icon">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">프로필</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <main>
      <div id="profile_details" style="display: block">
        <div id="profile_details" style="display: flex">
          <img
            src="{{ url_for('static', filename=user_info['profile_image']) }}"
            style="width: 80px; height: 80px"
            alt="프로필 사진"
          />
          <div class="profile_details__info">
            <div>
              <span class="profile_name"
                >{{ session['name'] if session['name'] else 'no session' }}
              </span>
            </div>
            <span class="profile_rank">
              등급
              <span class="profile_rank_eng">A+</span>
              <!--등급 부분은 아직 database에서 가져오지 않음-->
            </span>
          </div>
        </div>
        <div class="for_layout"></div>
        <button class="review_btn" href="/reg_review.html">
          받은 리뷰 보기
        </button>
      </div>
      <div class="item_box1"></div>
      <div class="keyword_title">
        <div
          class="keyword_head"
          style="color: #303030; font-size: 15px; font-weight: 700"
        >
          받은 리뷰 평가
        </div>
        <div style="color: #707070; font-size: 15px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word">(<span class="number">10</span>명 참여)</div>
      </div>

      <div class="keyword_box">
        <div class="keyword_box_1">
            <div class="keyword_text">
              <label for="time" class="keyword_list1">
                시간 약속을 잘 지켜요.
              </label>
            </div>
            <div class="keyword_num" id="time">7</div>
            <div class="green_0"></div>
        </div>
        <div class="keyword_box_1">
          <div class="green_1">
            <div class="keyword_text">
              <label for="detail" class="keyword_list1">상품 설명이 자세해요.</label>
            </div>
            <div class="keyword_num" id="detail">5</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_2">
            <div class="keyword_text">
              <label for="resonable" class="keyword_list1"
                >가격이 합리적이에요.</label
              >
            </div>
            <div class="keyword_num" id="resonable">5</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_3">
            <div class="keyword_text">
              <label for="kind" class="keyword_list1"
                >친절하고 매너가 좋아요.</label
              >
            </div>
            <div class="keyword_num" id="kind">5</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_4">
            <div class="keyword_text">
              <label for="condition" class="keyword_list1"
                >상품 상태가 설명한 것과 같아요.</label
              >
            </div>
            <div class="keyword_num" id="condition">3</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_5">
            <div class="keyword_text">
              <label for="response" class="keyword_list1">응답이 빨라요.</label>
            </div>
            <div class="keyword_num" id="response">2</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_6">
            <div class="keyword_text">
              <label for="give" class="keyword_list1">나눔을 해주셨어요.</label>
            </div>
            <div class="keyword_num" id="give">1</div>
          </div>
        </div>
        <div class="keyword_box_1">
          <div class="green_7">
            <div class="keyword_text">
              <label for="come" class="keyword_list1"
                >제가 있는 곳까지 와서 거래했어요.</label
              >
            </div>
            <div class="keyword_num" id="come">0</div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <!-- <script src="../static/components/base_header.js"></script> -->
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='components/like_press.js') }}"></script>
  <script src="{{ url_for('static', filename='screens/keyword.js') }}"></script>

</html>
