<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
      
  </head>
  <body>
    <header class="header"></header>
    <img src="../static/images/logo.png" alt="logo image" width="375px;" />
    <h1>로그인</h1>
    <p><br /><br /></p>
      
      <!-- 플래시 메시지 표시 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>alert("{{ messages[0] }}");</script>
    {% endif %}
    {% endwith %}

    <div id="box">
      <div id="login">
        <form action="/login_confirm" method="post">
          <br />
          <h4>Id</h4>
          <input id="id" type="text" name="id" style="border: none" required />
          <hr />
          <br />
          <h4>Password</h4>
          <button id="show_button" type="button" onclick="show()">show</button>
          <input
            id="password"
            type="password"
            name="password"
            style="border: none"
            required
          />

          <script>
            /*비밀번호 show or hide 구현 함수*/
            function show() {
              var btn = document.getElementById("show_button");
              var password = document.getElementById("password");
              if (btn.innerText == "show") {
                password.type = "text";
                btn.innerText = "hide";
              } else {
                password.type = "password";
                btn.innerText = "show";
              }
            }
          </script>

          <br />
          <hr />

          <p class="find">
            <a href="/find_id">아이디 찾기</a> /
            <a href="/find_password">비밀번호 재설정</a>
          </p>

          <button
            id="login_button"
            type="submit"
          >
            <b>로그인</b>
          </button>
         
        </form>
        <p>
          <a id="회원가입" href="/mem_register"><b>회원가입</b></a>
        </p>
      </div>
    </div>
    <br /><br /><br />
  </body>
</html>

