<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
        <title> 마이페이지 </title>    
	</head>
    
	<body>
        
        <header class="header">
            <p>마이페이지</p>
        </header>
        
        <div id="profile_container">
                <img src="profile.jpg" alt="프로필 사진">
                <div id="profile_details">
                    <p2 style="font-size: 20px; font-weight: 700;">이화인</p2>
                    <p2 style="color: #808080; font-size: 14px;">ewhain123.ewha.ac.kr</p2>
                    <p2 style="margin-top: 14px; color: #808080; font-size: 15px;">등급 <span style="color: #329142; font-weight: 700">A+</span></p2>
                </div>
            <button href="">프로필 보기</button>
        </div>
        
        <div id="menu_buttons">
            <button href="">회원 정보 수정 <i class="fas fa-angle-right"></i></button>
            <button href="">판매 상품 <i class="fas fa-angle-right"></i></button>
            <button href="">찜한 상품 <i class="fas fa-angle-right"></i></button>
            <button href="">받은 리뷰 <i class="fas fa-angle-right"></i></button>
        </div>
        
        <div id="logout_buttons">
            <a href="">로그아웃</a>
            <a href="">회원탈퇴</a>
        </div>
        
	</body>
</html>
