<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mypage_style.css') }}"
    />
    <title>마이페이지</title>
  </head>

  <body>
    <header class="base_header">
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
      <div>
        <h2 class="base_header__title">마이페이지</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <main>
      <div id="profile_details">
        <img src="{{ url_for('static', filename=user_info['profile_image']) }}" alt="프로필 사진" />
        <div class="profile_details__info">
          <div>
            <span class="profile_name" name="name"
              >{{ user_info['id'] }}</span
            >
            <button
              class="profile_btn"
              onclick="window.location.href='/keyword'"
            >
              프로필 보기
            </button>
          </div>

          <span class="profile_email" name="EwhaMail"
            >{{ user_info['email'] }}</span
          >
          <span class="profile_rank">
            등급
            <span class="profile_rank_eng">{{ user_info['grade'] }}</span>
          </span>
        </div>
        <div class="for_layout"></div>
      </div>

      <div id="menu_buttons">
        <button onclick="window.location.href='/user_Page'">
          회원 정보 수정 <i class="fas fa-angle-right"></i>
        </button>
        <button onclick="window.location.href='/selling'">
          판매 상품 <i class="fas fa-angle-right"></i>
        </button>
        <button onclick="window.location.href='/like'">
          찜한 상품 <i class="fas fa-angle-right"></i>
        </button>
        <button onclick="window.location.href='/review_list'">
          받은 리뷰 <i class="fas fa-angle-right"></i>
        </button>
      </div>

      <div id="logout_buttons">
        <a class="mypage_link" href="/logout">로그아웃</a>
        <a
          class="mypage_link"
          onclick="alert('회원 탈퇴를 하시겠습니까?\n탈퇴 후에는 회원 정보가 영구적으로 삭제됩니다.')"
          href="/accountdelete"
          >회원탈퇴</a
        >
      </div>
    </main>
    {% include 'nav_bar.html' %}
  </body>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
</html>
