<nav class="nav">
  <ul class="nav_list">
    <li>
      <a class="nav_link" href="/list"
        ><i class="fa-solid fa-house fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
    <li>
      <a class="nav_link" href="/like"
        ><i class="fa-solid fa-bookmark fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
    <li>
      <a class="nav_link" href="/dm"
        ><i class="fa-solid fa-comment-dots fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
    <li>
      <a class="nav_link" href="/mypage"
        ><i class="fa-solid fa-user fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
  </ul>
</nav>
