<nav class="nav">
  <ul class="nav_list">
    <li>
      <a class="nav_link" id="nav_list" href="/list"
        ><i class="fa-solid fa-house fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
    <li>
      <a class="nav_link" id="nav_like" href="/like"
        ><i class="fa-solid fa-bookmark fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
    <li>
      <a class="nav_link" id="nav_dm_list" href="/chatting_list"
        ><i class="fa-solid fa-comment-dots fa-xl" style="color: #b3b3b3"></i>
        <div class="alarm_dot"></div>
      </a>
    </li>
    <li>
      <a class="nav_link" id="nav_mypage" href="/mypage"
        ><i class="fa-solid fa-user fa-xl" style="color: #b3b3b3"></i
      ></a>
    </li>
  </ul>
</nav>
<script src="{{ url_for('static', filename='components/nav_bar.js') }}"></script>
