<div class="pagination">
  <ul class="pagination_list">
    <li class="disabledBg pagination_box">
      <a href="#"
        ><i class="fa-solid fa-chevron-left" style="color: #ffffff"></i
      ></a>
    </li>
    <li class="page_current pagination_box">
      <a href="#" class="page_num">1</a>
    </li>
    <li class="pagination_box"><a href="#" class="page_num">2</a></li>
    <li class="pagination_box"><a href="#" class="page_num">3</a></li>
    <li class="pagination_box"><a href="#" class="page_num">4</a></li>
    <li class="pagination_box"><a href="#" class="page_num">5</a></li>
    <li class="pagination_box">
      <a href="#"
        ><i class="fa-solid fa-chevron-right" style="color: var(--gray)"></i
      ></a>
    </li>
  </ul>
</div>
