<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록화면</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reg_item_style.css') }}">
</head>
<body>
    <header class="header">
        상품 등록
    </header>

    <div>
        <form action="/submit_item_post" method="post">
            <label for="userId">아이디</label>
            <input id="userId" name="userId" type="text">
            <label for="itemName">상품 이름</label>
            <input id="itemName" name="itemName" type="text">
            <label for="price">₩ 가격</label>
            <input id="price" name="price" type="text">
            <label>상태</label>
            <div class="status">
                <input type="radio" name="status" value="좋음"> 좋음<br>
                <input type="radio" name="status" value="보통"> 보통<br>
                <input type="radio" name="status" value="나쁨"> 나쁨<br>

            </div>
            <label for="description">설명</label><br>
            <textarea id="description" name="description" placeholder="상품 및 거래에 대한 내용을 자세히 작성해주세요.상품 구입 시기, 사용 횟수, 상품 상태 등 구매자에게 필요한 정보를 적어주세요. (10자 이상)"></textarea><br>

            <label>거래방식</label>
            <div>
                <input type="radio" name="transaction" value="대면"> 대면
                <input type="radio" name="transaction" value="비대면 (택배, 우편)"> 비대면 (택배, 우편)<br>

            </div>
            <br>
            <label for="location">거래 희망 장소</label>
            <select id="location" name="location">
            <option value="" disabled selected hidden>장소 선택</option>
            <option value="학관">학관</option>
            <option value="아산공학관">아산공학관</option>
            <option value="신공학관">신공학관</option>
            <option value="포스코관">포스코관</option>
            <option value="종합과학관">종합과학관</option>
            <!-- 다른 장소 옵션들 추가 -->
            </select><br>

            <button id="submit_btn" type="submit">등록하기</button>

        </form>
        <br><br><br>
</body>
</html>