<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 등록화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="base_header">
      <a href="/list" class="base_header__icon">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">상품 등록</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <form
      class="reg_item_form"
      action="/reg_item_post"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="reg_item_form__section">
        <label class="reg_item-form__label" for="userId">아이디</label>
        <input
          class="reg_item-form__input"
          id="userId"
          name="userId"
          type="text"
          value="{{ session['id'] if session['id'] else 'no session' }}"
          readonly
        />
      </div>
      <div class="reg_item_form__section">
        <label class="reg_item-form__label" for="itemName">상품 이름</label>
        <input
          class="reg_item-form__input"
          id="itemName"
          name="itemName"
          type="text"
          required
          placeholder="상품 이름을 입력해주세요."
        />
      </div>
      <div class="reg_item_form__section">
        <label class="reg_item-form__label" for="price">₩ 가격</label>
        <input
          class="reg_item-form__input"
          id="price"
          name="price"
          type="text"
          required
          placeholder="가격을 입력해주세요."
        />
      </div>
      <div class="reg_item_form__section">
        <p class="reg_item-form__label">상태</p>
        <div class="reg_item-form__radio">
          <input id="good" type="radio" name="status" value="good" required />
          <label for="good">좋음</label>
        </div>
        <div class="reg_item-form__radio">
          <input
            id="common"
            type="radio"
            name="status"
            value="common"
            required
          />
          <label for="common">보통</label>
        </div>
        <div class="reg_item-form__radio">
          <input id="bad" type="radio" name="status" value="bad" />
          <label for="bad">나쁨</label>
        </div>
      </div>

      <div class="reg_item_form__section">
        <label class="reg_item-form__label" for="description">설명</label>
        <textarea
          class="reg_item-form__textarea"
          id="description"
          name="description"
          placeholder="상품 및 거래에 대한 내용을 자세히 작성해주세요. 상품 구입 시기, 사용 횟수, 상품 상태 등 구매자에게 필요한 정보를 적어주세요. (10자 이상)"
          required
        ></textarea>
      </div>

      <div class="reg_item_form__section">
        <p class="reg_item-form__label">거래방식</p>
        <div id="reg_item-form__radio">
          <div>
            <input
              id="f2f"
              type="radio"
              name="transaction"
              value="f2f"
              required
            />
            <label id="f2f_label" for="f2f">
              <i class="fa-solid fa-check"></i>
              대면</label
            >
          </div>
          <div>
            <input id="no-f2f" type="radio" name="transaction" value="no-f2f" />
            <label id="no-f2f_label" for="no-f2f">
              <i class="fa-solid fa-check"></i>
              비대면 (택배, 우편)
            </label>
          </div>
        </div>
      </div>

      <div class="reg_item_form__section">
        <p class="reg_item-form__label">거래 희망 장소</p>
        <select
          class="reg_item-form__select"
          id="location"
          name="location"
          required
          disabled
        >
          <option value="" disabled selected>장소 선택</option>
          <option value="ECC">ECC</option>
          <option value="공학관">공학관(아산공학관, 신공학관)</option>
          <option value="교육관">교육관</option>
          <option value="기숙사e">기숙사(E-house, 한우리)</option>
          <option value="기숙사i">기숙사(I-house)</option>
          <option value="대강당">대강당</option>
          <option value="신세계관">신세계관</option>
          <option value="음악관">음악관</option>
          <option value="정문">정문</option>
          <option value="종합과학관">종합과학관</option>
          <option value="중앙도서관">중앙도서관</option>
          <option value="조형예술관">조형예술관</option>
          <option value="포스코관">포스코관</option>
          <option value="학관">학관</option>
          <!-- 다른 장소 옵션들 추가 -->
        </select>
      </div>

      <div>
        <label class="upload-container" for="imgInput">
          <div class="upload-container__icon">
            <i class="fas fa-camera fa-2x"></i>
          </div>
          <p class="upload-container__cnt">0/10</p>
        </label>
        <input
          class="input-hidden"
          id="imgInput"
          type="file"
          name="itemImg"
          accept="image/*"
          multiple
        />
      </div>

      <div id="imagePreviews"></div>
      <div class="enroll_container">
        <button class="enroll_btn" id="submit_btn" type="submit">
          등록하기
        </button>
      </div>
    </form>
  </body>
  <script src="../static/screens/reg_item_select.js"></script>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <script src="../static/components/img_btn.js"></script>
</html>
