<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰 상세 화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='review_detail.css') }}"
    />

    <!--아이콘 집어넣기 위한 코드-->
    <script
      src="https://kit.fontawesome.com/a1969e7b61.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="base_header">
      <div class="base_header__icon base_header__back">
        <!--뒤로 가기 링크 추후 수정 필요(dm창으로 이동해야 함)-->
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </div>
      <div>
        <h2 class="base_header__title">상세 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <div id="item">
      <div class="review_detail__img">
        <img src="{{ url_for('static', filename=data.img_path) }}" alt="item image" />
      </div>
      <p class="item">
        <span class="item__name">{{ data.itemName }}</span>
        <span class="item__price">{{ data.price }}원</span>
        <span class="item__review-star" id="reviewStarContainer">
            
        <script>
    // JavaScript를 사용하여 동적으로 별 아이콘을 생성하고 삽입
    const reviewStarContainer = document.getElementById('reviewStarContainer');
    const starCount = {{ reviewdata.rate }}; // 별 아이콘의 개수

    for (let i = 0; i < starCount; i++) {
        const starIcon = document.createElement('i');
        starIcon.className = 'fa-solid fa-star fa-sm';
        starIcon.style.color = '#BF190E'
        reviewStarContainer.appendChild(starIcon);
    }
    for (let i =starCount; i<5; i++){
        const starIcon = document.createElement('i');
        starIcon.className = 'fa-solid fa-star fa-sm';
        starIcon.style.color = '#d9d9d9'
        reviewStarContainer.appendChild(starIcon);
    }
        </script>
            
        </span>
      </p>
    </div>

    <main>
      <div class="review_img__section">
        <div class="review_img__box">
          <img src="{{ url_for('static', filename=reviewdata.review_img_path) }}" width="342px" />
        </div>
      </div>

      <div id="simple_review">
    <button class="review_btn" type="button" id="time">시간 약속을 잘 지켜요.</button>
    <button class="review_btn" type="button" id="response">응답이 빨라요.</button>
    <button class="review_btn" type="button" id="kind">친절하고 매너가 좋아요.</button>
    <button class="review_btn" type="button" id="come">제가 있는 곳까지 와서 거래했어요.</button>
    <button class="review_btn" type="button" id="give">나눔을 해주셨어요.</button>
    <button class="review_btn" type="button" id="condition">상품 상태가 설명한 것과 같아요.</button>
    <button class="review_btn" type="button" id="detail">상품 설명이 자세해요.</button>
    <button class="review_btn" type="button" id="resonable">가격이 합리적이에요.</button>
       
<script>
    // JavaScript 코드
    document.addEventListener("DOMContentLoaded", function() {
        var data = {{ reviewdata.keyword }}

        // 버튼들의 ID 배열
        var buttonIds = ["time", "response", "kind", "come", "give", "condition", "detail", "resonable"];

        // 각 버튼을 순회하면서 data.keyword 값을 확인하여 표시 여부 결정
        for (var i = 0; i < data.length; i++) {
            if (data[i] === 0) {
                document.getElementById(buttonIds[i]).style.display = "none";
            }
            else{
                document.getElementById(buttonIds[i]).style.display = "flex";
            }
        }
    });
</script>
      </div>

      <div id="review_ment">
        <p class="review_ment__head">
          <span class="review_ment__title">{{ reviewdata.title }}</span>
          <span class="review_ment__date">{{ reviewdata.createdAt }}</span>
        </p>

        <p class="review_ment__writer">{{ reviewdata.userId }}</p>
        <p class="review_ment__txt">{{ reviewdata.review }}
        </p>
      </div>
    </main>
  </body>
  <script src="{{ url_for('static', filename='components/base_header.js') }}"></script>