<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='screens/list_review_style.css') }}"

    />
    <title>판매 리뷰 전체 조회</title>
  </head>

  <body>
    <header class="base_header">
      <a href="javascript:location.href = document.referrer;" class="base_header__icon base_header__back">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424;"></i>
      </a>
      <div>
        <h2 class="base_header__title">받은 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
      
      <main class="list_review__page">
      {% if rows %}
      {% for row in rows %} {% for key, value in row.items() %}
      <div class="list_review__box">
          <a
       href="{{ url_for('review_detail', reviewId=value.reviewId) }}" 
        class="review_item__link"
      >
        <p class="list_review__title">{{value.title}}</p>
        <div class="review_item">
          <div class="review_img__box">
            <img
              class="review_item__img"
              src="{{ url_for('static', filename=value.review_img_path) }}"
              alt="상품 이미지"
            />
          </div>
          <div class="review_item__content">
            <p class="review_item__title">{{value.itemName}}</p>
            <p class="review_item__price commas_price">{{ value.price }}원</p>
          </div>
        </div>
        <div class="review_rate">
        {% if value.rate is defined %}
            {% for _ in range(value.rate | int) %}
                <i class="fa-solid fa-star" style="color: var(--star-yellow)"></i>
            {% endfor %}
        {% set empty_stars = (5 - value.rate | int) %}
        {% for _ in range(empty_stars) %}
            <i class="fa-regular fa-star" style="color: var(--star-gray)"></i>
        {% endfor %}
        {% endif %}
        </div>
        <p class="list_review__date"> {{ value.createdAt }}</p>
          </a>
        </div>
      {% endfor %} {% else %}

      {% endfor %} {% include 'review_pagination.html' %}
     {% else %}
       
          <div class="list_review__box">
      <p class="list_review__title">등록된 리뷰가 없습니다.</p>
    </div>
    {% endif %}
    </main>

</body>
      <script src="{{ url_for('static', filename='components/base_header.js') }}"></script>
      <script src="{{ url_for('static', filename='components/commas_to_price.js') }}"></script>
      <script
      src="https://kit.fontawesome.com/a1969e7b61.js"
      crossorigin="anonymous"
    ></script>


</html>
