<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='screens/list_review_style.css') }}"
    />
    <title>판매 리뷰 전체 조회</title>
  </head>

  <body>
    <header class="base_header">
      <div class="base_header__icon base_header__back">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </div>
      <div>
        <h2 class="base_header__title">EwhaSeller님의 판매 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <main class="list_review__page">
      <!--서버 연동시 동일 코드 삭제하고 반복문으로 해결할 예정 -->
      <div class="list_review__box">
        {% if total > 0 %}
        <p>
             현재까지 {{total}}개 리뷰 등록됨
        </p>
        <table>
             <tr>
             {% for key, value in row1 %}
             <td>제목: {{value.title}}</td>
             {% endfor %}
             </tr>
            
             <tr>
             {% for key, value in row1 %}
                 <td onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=240, height=200></td>
             {% endfor %}
             </tr>
            
             <tr>
             {% for key, value in row2 %}
                 <td>제목: {{value.title}}</td>
             {% endfor %}
             </tr>
            
             <tr>
             {% for key, value in row2 %}
                 <td onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=240, height=200></td>
             {% endfor %}
             </tr>
          </table>
            {% include 'pagination.html' %}
          
          <div class="page-wrap">
             <div class="page-nation">
                 <ul>
                     <li>
                     {% for i in range(page_count)%}
                         <a href="{{url_for('review_list', page=i)}}" color="black">{{i}}</a>
                     {% endfor %}
                     </li>
                 </ul>
             </div>
            </div>
            {% else %}
            <p>
             등록된 리뷰가 없습니다.
            </p>
            {% endif %}
        </div>
      </main>
    </body>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <!-- <script src="../static/screens/list.js"></script> -->
</html>