<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰 상세 화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='review_detail.css') }}"
    />

    <!--아이콘 집어넣기 위한 코드-->
    <script
      src="https://kit.fontawesome.com/a1969e7b61.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="base_header">
      <a class="base_header__icon base_header__back">
        <!--뒤로 가기 링크 추후 수정 필요-->
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">상세 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <div id="item">
      <div class="review_detail__img">
        <img src="../static/images/item1_image.jpeg" alt="item image" />
      </div>
      <p class="item">
        <span class="item__name">원형 테이블 </span>
        <span class="item__price">40,000원 </span>
        <span class="item__review-star">
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
        </span>
      </p>
    </div>

    <main>
      <div class="review_img__section">
        <button id="left" class="btn" type="button" onclick="">
          <i class="fa-solid fa-chevron-left fa-xl"></i>
        </button>
        <div class="review_img__box">
          <img src="../static/images/table_detail.png" width="342px" />
        </div>
        <button id="right" class="btn" type="button" onclick="">
          <i class="fa-solid fa-chevron-right fa-xl"></i>
        </button>
      </div>

      <div id="simple_review">
        <button class="review_btn" type="button">응답이 빨라요</button>
        <button class="review_btn" type="button">
          제가 있는 곳까지 와서 거래했어요.
        </button>
        <button class="review_btn" type="button">
          친절하고 매너가 좋아요.
        </button>
        <button class="review_btn" type="button">가격이 합리적이에요</button>
      </div>

      <div id="review_ment">
        <p class="review_ment__head">
          <span class="review_ment__title">테이블 너무 너무 예뻐요!!!</span>
          <span class="review_ment__date">2023.09.14</span>
        </p>

        <p class="review_ment__writer">EwhaStudent1</p>
        <p class="review_ment__txt">
          테이블 잘 받았어요~<br />
          상태도 너무 좋고 설명하신 것 그대로에요! 거래 약속 시간도 잘 지키시고
          답장도 빠르셔서 너무 만족스러운 거래였습니다! 다음에 또 거래하고
          싶어요!
        </p>
      </div>
    </main>
  </body>
  <script src="../static/components/base_header.js"></script>
</html>
