<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰 상세 화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='review_detail.css') }}"
    />

    <!--아이콘 집어넣기 위한 코드-->
    <script
      src="https://kit.fontawesome.com/a1969e7b61.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="base_header">
      <div class="base_header__icon base_header__back">
        <!--뒤로 가기 링크 추후 수정 필요(dm창으로 이동해야 함)-->
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </div>
      <div>
        <h2 class="base_header__title">상세 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>

    <div id="item">
      <div class="review_detail__img">
        <img src
             src="{{ url_for('static', filename=data.img_path) }}"
             alt="item image"/>
      </div>
      <p class="item">
        <span class="item__name">{{ data.itemName }} </span>
        <span class="item__price">{{ data.price }}원 </span>
        <span class="item__review-star">
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
          <i class="fa-solid fa-star fa-sm"></i>
        </span>
      </p>
    </div>

    <main>
      <div class="review_img__section">
        <button id="left" class="btn" type="button" onclick="">
          <i class="fa-solid fa-chevron-left fa-xl"></i>
        </button>
        <div class="review_img__box">
          <img src="{{ url_for('static', filename=data.img_path) }}" width="342px" />
        </div>
        <button id="right" class="btn" type="button" onclick="">
          <i class="fa-solid fa-chevron-right fa-xl"></i>
        </button>
      </div>

      <div id="simple_review">
        <button class="review_btn" type="button">{{ data.keywordSeller }}</button>
        <button class="review_btn" type="button">
          {{ data.keywordSeller }}
        </button>
        <button class="review_btn" type="button">
          {{ data.keywordSeller }}
        </button>
        <button class="review_btn" type="button"> {{ data.keywordItem }}</button>
      </div>

      <div id="review_ment">
        <p class="review_ment__head">
          <span class="review_ment__title">{{ data.reviewTitle }}</span>
          <span class="review_ment__date">{{ data.createdAt }}</span>
        </p>

        <p class="review_ment__writer">{{ data.userId }}</p>
        <p class="review_ment__txt">
          {{ data.reiviewContent }}
        </p>
      </div>
    </main>
  </body>
  <script src="../static/components/base_header.js"></script>
</html>
