<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>거래완료</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sell_Page_style.css') }}"
    />
  </head>
  <body>
    <header class="base_header">
      <a href="/" class="base_header__icon">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">EwhaSeller님의 판매 리뷰</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <div class="sell_btn">
      <div class="temp">
        <button class="clicked">거래완료</button>
        <div class="line"></div>
      </div>
      <button class="non_clicked">
        <a href="/selling">판매중</a>
      </button>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
</html>
