<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>거래완료</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sell_Page_style.css') }}"
    />
  </head>
  <body>
    <header class="base_header">
      <a href="/mypage" class="base_header__icon">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">판매 상품</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <div class="sell_btn">
      <div class="temp">
        <button class="clicked">거래완료</button>
        <div class="line"></div>
      </div>
      <button class="non_clicked">
        <a href="/selling">판매중</a>
      </button>
    </div>

    <main class="list_page_box sell_Page_main" ;>
      <!--서버 연동시 동일 코드 삭제하고 반복문으로 해결할 예정 -->
      <div class="item_box1">
        <div class="item_selection">
          <div class="item_box1__img">
            <img src="../static/images/item1_image.jpeg" alt="상품1" />
          </div>
          <div class="item_box1__info">
            <p class="item_box1__title" name="itemName">원형 테이블</p>
            <div class="item_box1__upload">
              <p class="item_box1__seller" name="seller">EwhaSeller1</p>
              <p class="item_box1__date">2일 전</p>
            </div>
            <p class="item_box1__price" name="price">15,000원</p>
          </div>
        </div>
        <div class="item_box1__icon">
          <div class="item_box1_like">
            <div class="like_icon_box">
              <i class="fa-regular fa-bookmark fa-lg"></i>
            </div>
            <p class="item_like_num">5</p>
          </div>
        </div>
      </div>
      <div class="item_box1">
        <div class="item_selection">
          <div class="item_box1__img">
            <img src="../static/images/item2_image.jpeg" alt="상품2" />
          </div>
          <div class="item_box1__info">
            <p class="item_box1__title" name="itemName">미니멀 스탠드</p>
            <div class="item_box1__upload">
              <p class="item_box1__seller" name="seller">EwhaSeller2</p>
              <p class="item_box1__date">6일 전</p>
            </div>
            <p class="item_box1__price" name="price">25,000원</p>
          </div>
        </div>
        <div class="item_box1__icon">
          <div class="item_box1_like">
            <div class="like_icon_box">
              <i class="fa-regular fa-bookmark fa-lg"></i>
            </div>
            <p class="item_like_num">4</p>
          </div>
        </div>
      </div>
      <div class="item_box1">
        <div class="item_selection">
          <div class="item_box1__img">
            <img src="../static/images/item3_image.png" alt="상품3" />
          </div>
          <div class="item_box1__info">
            <p class="item_box1__title" name="itemName">운동화</p>
            <div class="item_box1__upload">
              <p class="item_box1__seller" name="seller">EwhaSeller3</p>
              <p class="item_box1__date">1달 전</p>
            </div>
            <p class="item_box1__price" name="price">35,000원</p>
          </div>
        </div>
        <div class="item_box1__icon">
          <div class="item_box1_like">
            <div class="like_icon_box">
              <i class="fa-regular fa-bookmark fa-lg"></i>
            </div>
            <p class="item_like_num">7</p>
          </div>
        </div>
      </div>
      <div class="item_box1">
        <div class="item_selection">
          <div class="item_box1__img">
            <img src="../static/images/item4_image.jpeg" alt="상품4" />
          </div>
          <div class="item_box1__info">
            <p class="item_box1__title" name="itemName">미니멀 책상</p>
            <div class="item_box1__upload">
              <p class="item_box1__seller" name="seller">EwhaSeller4</p>
              <p class="item_box1__date">4달 전</p>
            </div>
            <p class="item_box1__price" name="price">30,000원</p>
          </div>
        </div>
        <div class="item_box1__icon">
          <div class="item_box1_like">
            <div class="like_icon_box">
              <i class="fa-regular fa-bookmark fa-lg"></i>
            </div>
            <p class="item_like_num">2</p>
          </div>
        </div>
      </div>
      <div class="item_box1">
        <div class="item_selection">
          <div class="item_box1__img">
            <img src="../static/images/item5_image.png" alt="상품5" />
          </div>
          <div class="item_box1__info">
            <p class="item_box1__title" name="itemName">미니 인형 키링</p>
            <div class="item_box1__upload">
              <p class="item_box1__seller" name="seller">EwhaSeller5</p>
              <p class="item_box1__date">6달 전</p>
            </div>
            <p class="item_box1__price" name="price">5,000원</p>
          </div>
        </div>
        <div class="item_box1__icon">
          <div class="item_box1_like">
            <div class="like_icon_box">
              <i class="fa-regular fa-bookmark fa-lg"></i>
            </div>
            <p class="item_like_num">9</p>
          </div>
        </div>
      </div>
    </main>
    {% include 'nav_bar.html' %}
  </body>
  <script src="../static/components/base_header.js"></script>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <script src="../static/screens/list.js"></script>
  <script src="../static/components/like_press.js"></script>
</html>
