<html>
    <head>
        <meta charset="UTF-8">
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"/>
  </head>
<body>
    <div class="make_center">
        <button>
            <img src="">
        </button>
        <img class="image_style"src="static/images/profile.jpg"/>
    </div>
    <div>
        <div class="temp">
            <div class="font_head">Name</div>
            <div class="font_body">Bruno Pham</div>
        </div>
        <div class="temp">
            <div class="font_head">Id</div>
            <div class="font_body">bruno</div>
        </div>
            <div class="temp">
                <div class="font_head">Email</div>
                <div class="font_body">bruno203@gmail.com</div>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
        <div style="padding-left: 2%;">
            <div>비밀 번호 수정</div>
            <input type="text" id="newPassword" class="pass_box" placeholder="New Password">
        </div>
        <div style="padding-left: 2%;">
            <div >회원 정보 수정</div>
            <input type="text" id="newPassword" class="pass_box" placeholder="Confirm Password">
        </div>
    </div>
    <div>
        <button class="confirm_btn">수정하기</button>
    </div>
</body>
</html>