<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보 수정</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='user_Page_style.css') }}"
    />
  </head>
  <body>
    <header class="base_header">
      <a href="/mypage" class="base_header__icon">
        <i class="fa-solid fa-chevron-left fa-xl" style="color: #242424"></i>
      </a>
      <div>
        <h2 class="base_header__title">회원 정보 수정</h2>
      </div>
      <div class="base_header__icon">
        <!--레이아웃 배치용-->
      </div>
    </header>
    <div class="make_center">
      <img class="image_style" src="static/images/profile.jpg" />
      <button class="photo_btn">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.2926 17.6855C4.0826 17.4755 3.9776 17.1835 4.0036 16.8875L4.3826 12.7175C4.4246 12.2605 4.6266 11.8295 4.9526 11.5035L13.9486 2.50749C14.6506 1.80249 15.9236 1.83749 16.6646 2.57649L19.4026 5.31449L19.4036 5.31549C20.1686 6.08149 20.1996 7.29949 19.4716 8.02949L10.4746 17.0265C10.1496 17.3515 9.7186 17.5535 9.2606 17.5955L5.0906 17.9745C5.0606 17.9765 5.0306 17.9775 4.9996 17.9775C4.7366 17.9775 4.4816 17.8735 4.2926 17.6855ZM16.0186 8.65649L13.3236 5.96149L15.2716 4.01249L17.9656 6.70649L16.0186 8.65649ZM9.0796 15.6025L6.1026 15.8735L6.3666 12.9175L11.9836 7.30049L14.6796 9.99749L9.0796 15.6025ZM18.9996 21.9775C19.5496 21.9775 19.9996 21.5275 19.9996 20.9775C19.9996 20.4285 19.5496 19.9775 18.9996 19.9775H4.9996C4.4506 19.9775 3.9996 20.4285 3.9996 20.9775C3.9996 21.5275 4.4506 21.9775 4.9996 21.9775H18.9996Z"
            fill="#808080"
          />
        </svg>
      </button>
    </div>
    <main>
      <div class="temp_s">
        <div class="font_head">Name</div>
        <div class="font_body" name="name">
          {{ session['name'] if session['name'] else 'no session' }}
        </div>
      </div>
      <br />
      <div class="temp_s">
        <div class="font_head">Id</div>
        <div class="font_body" name="id">
          {{ session['id'] if session['id'] else 'no session' }}
        </div>
      </div>
      <br />
      <div class="temp_s">
        <div class="font_head">Email</div>
        <div class="font_body" name="EwhaMail">
          {{ session['email'] if session['email'] else 'no session' }}
        </div>
      </div>
      <div style="padding-top: 30px"></div>
      <form action="#" style="padding-left: 2%">
        <div style="color: #909191; margin-left: 15%" class="pass_box__title">
          비밀 번호 수정
          <span id="password_check__error"></span>
        </div>
        <input
          type="password"
          id="newPassword"
          class="pass_box"
          name="newPassword"
          placeholder="신규 비밀번호"
        />
        <input
          type="password"
          id="newPasswordCheck"
          class="pass_box"
          name="confirmPassword"
          placeholder="비밀번호 확인"
        />
        <input
          type="submit"
          class="confirm_btn"
          id="confirm_btn_id"
          value="수정하기"
        />
      </form>
    </main>
  </body>
  <script src="../static/components/base_header.js"></script>
  <script
    src="https://kit.fontawesome.com/afee348a73.js"
    crossorigin="anonymous"
  ></script>
  <script src="../static/screens/list.js"></script>
  <script src="../static/components/like_press.js"></script>
  <script src="../static/components/password_check.js"></script>
</html>
