@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap'); /*Merriweather : Light 300, Regular 400, Bold 700*/@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap'); /*Nunito Sans : 300, 400, 500, 600, 700, 800*/
@import "../reset.css";
@import "../variables.css";

html{
    overflow: hidden;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--black);

    box-sizing: border-box;
    background-color: var(--ewha-green);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body img {
    /*
    position: fixed;
    top: 0;
    left: 0;
    */
    height: 100vh;
    width: auto;
}

