.reg_item_form {
    box-sizing: border-box;
    margin: 55px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 15px;
    
}
.reg_item_form__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.reg_item-form__label {
    margin-bottom: 10px;
    font-weight: 700;
}

.reg_item-form__input {
    padding: 12px 15px;
    border-radius: 4px;
    background: var(--light-gray);
    border-style: none;
    color: var(black);
    font-size: 15px;
    font-weight: 400;

}

.reg_item-form__radio{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    gap: 10px;
    font-weight: 400;
    font-size: 15px;
}

.reg_item-form__textarea{
    height: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--light-gray);
    font-size: 15px;
    border-style: none;
    padding: 12px 15px;
}

.right-padding {
    padding-right: 20px;
}

.reg_item-form__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
    padding: 12px 20px 12px 12px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: url('../images/arrow-down.png') no-repeat 97% 50%/15px auto;
    
}

.reg_item-form__select:valid{
    border-color: var(--black);
    outline: none;
}


#reg_item-form__radio {
    display: flex;
    gap: 20px;
}


/* 대면, 비대면 라디오 버튼 커스텀 */
#reg_item-form__radio div {
    height: 40px;
    width: 180px;
    border-radius: 20px;
    background-color: #DBDBDB;
    border: none;
    overflow: hidden;
;

}

#reg_item-form__radio div:first-child {
    width: 100px;
}


#reg_item-form__radio input[type=radio] {
    display: none;
}
#reg_item-form__radio label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    text-align: center;

}


#reg_item-form__radio label i {
    margin-right: 8px;
    display: none;
}

#no-f2f:checked + label, #f2f:checked + label {
    background: var(--black);
    color: white;

}